@model Zambon.Core.Module.Xml.Views.ListViews.ListView

<div class="row no-gutters">
    <div class="col">
        @Html.Partial("./SearchPanel.cshtml", Model)
    </div>

    @if ((Model?.Buttons?.Length ?? 0) > 0 && Model.Buttons.Any(x => x.IsApplicable("Toolbar")))
    {
        <div class="col-auto pl-1" button-for="@Model.Buttons" button-target="Toolbar"></div>
    }
</div>