@model Zambon.Core.Module.Xml.Views.ListViews.ListView

<table class="table table-striped table-hover table-md mb-0 with-bg white position-relative rounded">
    <thead list-header-for="@Model.Columns" class="bg-primary text-white"></thead>
    <tbody listview-body-for="@Model.Columns"></tbody>
</table>