@model Zambon.Core.Module.Xml.Views.SubViews.LookupModal

<table class="table table-striped table-hover table-sm mb-0 position-relative rounded table-clickable-rows">
    <thead list-header-for="@Model.LookUpView.Columns" class="bg-primary text-white"></thead>
    <tbody lookupview-body-for="@Model.LookUpView.Columns"></tbody>
</table>