
<div class="col-3 p-0 h-100 text-white navbar-collapse d-md-flex sidebar">
    <nav id="drawer" class="h-100">
        <div class="navbar-header pt-2 pb-3">
            <div class="navbar-container-brand mb-3 replace-content">
                <div class="navbar-brand when-collapsed" style="height: 45px;">
                    <img src="/images/brand.png" class="h-100 mr-1" />
                </div>
                <div class="navbar-brand when-expanded" style="height: 45px;">
                    <img src="/images/brand.png" class="h-100 mr-1" />
                    <span class="align-middle" static-text-for="AppMenuName"></span>
                </div>
            </div>

            <div class="navbar-user-container">
                <div class="row no-gutters">
                    <div class="col-auto user-profile-picture ml-1"></div>
                    <div class="col when-expanded align-self-center ml-2">
                        <span class="navbar-user-name">User full name</span>
                        <span class="navbar-user-department">Department</span>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>