<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="bg with-bg-dark"></div>

    <div class="container">
        <a class="navbar-brand mr-2" asp-controller="Home" asp-action="Index">
            <img src="~/images/LogoMain.png" alt="Application Logo" border="0" />
        </a>
        
        <div class="mr-2" app-env-badge>

        </div>

        <a class="navbar-brand mr-2" asp-controller="Home" asp-action="Index">
            <span static-text-for="AppMenuName"></span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#MainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="MainNav">
            <ul class="navbar-nav mr-auto" menu-display></ul>
            
            <ul class="navbar-nav justify-content-end nav-menu-right">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                            <span class="icon oi oi-person"></span>
                            <span class="display-name">@User.Identity.Name</span>
                        </a>
                        <div class="dropdown-menu">
                            <a asp-controller="Account" asp-action="Logoff" class="dropdown-item">
                                <span class="icon oi oi-power-standby"></span>
                                <span class="display-name" static-text-for="Menu_LogOff"></span>
                            </a>
                        </div>
                    </li>
                }
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><span class="icon oi oi-question-mark mr-1"></span></a>
                    <div class="dropdown-menu">
                        <a href="~/documents/User_Guide.pdf" class="dropdown-item" target="_blank">
                            <span class="icon oi oi-person"></span>
                            <span class="display-name" static-text-for="Menu_UserGuide"></span>
                        </a>
                        <a href="~/documents/Technical_Guide.pdf" class="dropdown-item" target="_blank">
                            <span class="icon oi oi-cog"></span>
                            <span class="display-name" static-text-for="Menu_TechnicalSpec"></span>
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown" languages-container button-class="nav-link">

                </li>
            </ul>
        </div>
    </div>
</nav>