<div class="col p-3 px-md-0">
    <div class="d-flex">
        <a href="#" role="button" id="drawerCollapse" class="btn collapse-button rounded py-1 px-2 text-white"  static-text-title="CollapseMenuButtonTitle">
            <i class="fas fa-bars"></i>
        </a>
    </div>
</div>


<div class="col-auto p-3 px-md-0">
    <div class="d-flex">
        <ul class="navbar-nav" style="flex-direction: row;">

            <li class="nav-item dropdown mx-2">
                <a href="#" class="nav-link py-1" static-text-for="UserLogOutButtonTitle"><span class="fas fa-sign-out-alt fa-fw mr-1"></span></a>
            </li>

            <li class="nav-item dropdown mx-2" core-languages>
            </li>

            <li class="nav-item ml-2">
                <a href="#" class="btn btn-notification has-notification bg-secondary text-white fa-circle-container p-1" static-text-title="NotificationButtonTitle">
                    <span class="fas fa-bell fa-fw"></span>
                    <span class="btn-badge-notification px-1">2</span>
                </a>
            </li>

        </ul>
    </div>
</div>


    
