<div class="col py-2 px-3 px-md-0">
    <div class="d-flex">
        <a href="#" role="button" id="drawerCollapse" class="btn collapse-button rounded py-1 px-2 text-white">
            <i class="fas fa-bars"></i>
        </a>
    </div>
</div>


<div class="col-auto py-2 px-3 px-md-0">
    <div class="d-flex">
        <ul class="navbar-nav" style="flex-direction: row;">

            <li class="nav-item dropdown mx-2">
                <a href="#" class="nav-link py-1" data-toggle="dropdown"><span class="fas fa-sign-out-alt fa-fw mr-1"></span>Log out</a>
            </li>

            <li class="nav-item dropdown mx-2">
                <a href="#" class="btn btn-flag fp fp-md fp-rounded br" data-toggle="dropdown"></a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li class="dropdown-item">
                        Item
                    </li>
                </ul>
            </li>

            <li class="nav-item ml-2">
                <a href="#" class="btn btn-notification bg-secondary text-white fa-circle-container p-1" data-toggle="dropdown">
                    <span class="fas fa-bell fa-fw"></span>
                    <span class="btn-badge-notification px-1">2</span>
                </a>
            </li>

        </ul>
    </div>
</div>


    
