<div class="col p-3 px-md-0">
    <div class="d-flex">
        <a href="#" role="button" id="drawerCollapse" class="btn collapse-button rounded py-1 px-2 text-white">
            <i class="fas fa-bars"></i>
        </a>
    </div>
</div>


<div class="col-auto p-3 px-md-0">
    <div class="d-flex">
        <ul class="navbar-nav nav-menu-right">
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle py-1" data-toggle="dropdown"><span class="fas fa-user-circle fa-fw mr-1"></span><span class="display-name">Menu</span></a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li class="dropdown-item">
                        Item
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>


    
